.container {
  padding: 0 2rem;
  background-color: #141B1F;
  font-family: 'Roboto', sans-serif;
  color: #B3B3B3;
}

.header img{
  width: 250px !important;
  height: 250px !important;
  text-align: center;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerImage{
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerLinks{
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.links{
  font-weight: 600;
  padding: 5px;
  transition: all 0.3s;
  text-decoration: none;
  color: #B3B3B3;
}

.links:hover{
  color: #76FBDC;
}

@media screen and (max-width: 480px){

  .containerLinks{
    margin-right: 0px;
    margin-top: -20px;
    display: flex;
    justify-content: center;
  }

  .header{
    display: block;
  }
}
