.container {
  padding: 0 2rem;
  background-color: #141B1F;
  font-family: 'Roboto', sans-serif;
  color: #B3B3B3;
}

.headerTitle{
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerLinks{
  display: flex;
  align-items: center;
}

.links{
  font-weight: 600;
  padding: 5px;
  transition: all 0.3s;
}

.links:hover{
  color: #76FBDC;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
}

.title h1{
  font-size: 80px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.subtitle{
  display: flex;
  justify-content: center;
  align-items: center;
  color:#76FBDC;
  font-size: 40px
}

.subtitle h2{
  margin-top: 0px;
}