.container{
    text-align: center;
}

.title{
    font-size: 28px;
    color: #76FBDC;
    margin-top: 50px;
}

.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.containerImage{
    margin: 10px;
}

.image{
    object-fit: cover;
}