.container{
    text-align: center;
}

.title{
    font-size: 28px;
    color: #76FBDC;
    margin-top: 50px;
}

.skills{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.skills img{
    width: 140px !important;
    height: 130px !important;
}