.container{
    text-align: center;
}

.title{
    font-size: 28px;
    color: #76FBDC;
    margin-top: 50px;
}

.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.skills img{
    max-width: 100%;
    width: auto;
    max-height: 100%;
    height: auto;
}

.containerImage{
    margin: 10px;
    width: 90px;
    height: 90px;
}